<div class="top-header bg-dark text-white d-flex justify-content-around align-items-center">
  <div class="div "> Mon-Thu: 9:00 - 5:30 PM</div>
  <div class="div  "> Call Us: (00) 1234 5678</div>

</div>

<nav class="navbar navbar-expand-lg bg-white border border-bottom">
  <div class="container  text-dark">
    <a class="navbar-brand" href="#"><img src="../../../assets/images/Logo.svg" class="brand-logo" alt="brand-logo-unavailable"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-dark" aria-current="page" href="#">Laptops</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Desktop PCs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Networking Devices</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark">Printers & Scanners</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">PC Parts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">All Other Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Repairs</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  
 