.about-bottom{
    box-sizing: border-box;
    height: 4px;
    width: 40px;
    background-color: #FECC01;
    border-radius: 99px;
    margin: 0 20px;
}



.buy-options{
    width: 350px;
}

.qty-rectangle{
    width: 75px;
}

// .qty-button{
//     i{
//         font-size: 12px;
//     }
// }

a{
    font-size: 9px;
    text-decoration: none;
    color: black;
}

img{
    width: 400px;
    height: 600px;
}